.image {
  z-index: -1;
}

.body {
  display: grid;
  grid-template-rows: 10rem 10rem auto;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    div {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      h1 {
        margin: 0;
        margin-top: 2rem;
        font-size: xx-large;
        font-weight: lighter;
        display: flex;
        text-transform: uppercase;
      }
      h2 {
        margin: 0;
        font-weight: bolder;
      }
    }
  }
  .description {
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-self: center;
    text-transform: uppercase;
    font-weight: 900;
    gap: 5rem;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
