.body {
  display: grid;
  grid-template-rows: 10rem 10rem auto;
  width: 100%;
  .description {
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-self: center;
    text-transform: uppercase;
    font-weight: 900;
    gap: 15rem;
  }
}
