.head {
  display: flex;
  justify-content: center;
  div {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    h1 {
      margin: 0;
      margin-top: 2rem;
      font-size: xx-large;
      font-weight: lighter;
      display: flex;
      text-transform: uppercase;
    }
    h2 {
      margin: 0;
      font-weight: bolder;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }
}
