.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  &:hover {
    .cover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  .img {
    position: absolute;
    z-index: -1;
    border-radius: 1.5rem;
  }
  .cover {
    position: absolute;
    padding: 100px;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    .text {
      font-weight: 400;
      font-style: italic;
    }
  }
}
