@import "../../vars.scss";

.item {
  padding: 2rem;
  background: #0a0605;
  opacity: 0.9;
  width: 70%;
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    font-size: 3rem;
  }
  .description {
    font-weight: 200;
  }
  .prices {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .old_price {
    text-decoration: line-through;
  }
  .new_price {
    background-color: $offer-color !important; // idk overriding issues
  }
  .price {
    margin-top: 1rem;
    font-weight: 700;
    font-size: larger;
    padding: {
      left: 1.5rem;
      right: 1.5rem;
      top: 0.75rem;
      bottom: 0.75rem;
    }
    background-color: #fff;
    width: min-content;
    color: #000;
  }
}
