@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'BalooBhai2';
	src: local('BalooBhai2'), url('/BalooBhai2.ttf');
	font-display: swap;
}

:root {
	font-family: 'BalooBhai2';
}
